<fieldset>
  <label for="length"
    >Password length: {{ length }}
    <input
      (change)="onSettingsChange()"
      [(ngModel)]="length"
      id="length"
      type="range"
      min="6"
      max="20"
      [value]="length"
    />
  </label>
  <label for="uppercase"
    ><input
      (change)="onSettingsChange()"
      name="uppercase"
      id="uppercase"
      type="checkbox"
      [(ngModel)]="uppercase"
    />Uppercase letters
  </label>
  <label for="numbers"
    ><input
      (change)="onSettingsChange()"
      name="numbers"
      id="numbers"
      type="checkbox"
      [(ngModel)]="numbers"
    />Numbers
  </label>
  <label for="symbols"
    ><input
      (change)="onSettingsChange()"
      name="symbols"
      id="symbols"
      type="checkbox"
      [(ngModel)]="symbols"
    />Special Characters
  </label>
</fieldset>
