<div class="container">
  <h1>Angular Password Generator</h1>
  <div class="grid">
    <div>
      <h3>your future password:</h3>
    </div>
    <div>
      <fieldset>
        <label for="length"
          >Password length:
          <input id="length" type="range" min="6" max="20" value="6" />
        </label>
        <label for="uppercase"
          ><input id="uppercase" type="checkbox" />Uppercase letters
        </label>
        <label for="length"
          ><input id="numbers" type="checkbox" />Numbers
        </label>
        <label for="specialCharacters"
          ><input id="specialCharacters" type="checkbox" />Special Characters
        </label>
      </fieldset>
      <input type="submit" value="Generate" />
      <input type="button" value="Copy" />
    </div>
  </div>
</div>
